.section {
    width: 350px;
    padding: 20px;
    padding-top: 0px;
    border: 1px solid black;
    border-radius: 5px;
}

.input {
    width: 300px;
    height: 20px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.input:hover,
.input:focus {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}