.list {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid black;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.button:hover,
.button:focus {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}